<nav *ngIf="headerNeeded()">
  <mat-toolbar color="primary" class="custom-toolbar">
    <app-language-toggle></app-language-toggle>
    <!-- Logo Centered -->
    <div class="logo">
      <img src="../../../assets/logo.PNG" alt="Logo" style="width: 60px;" (click)="goToHome()" class="clickable">
    </div>

    <!-- Spacer to align logo in center -->
    <span class="toolbar-spacer"></span>

    <!-- Menu Items -->
    <div class="menu-items">
      <!-- Home -->
      <button *ngIf="isLoggedIn()" mat-button routerLink="/home">{{ "home" | translate }}</button>


      <button *ngIf="isLoggedIn() && isAdministartor()" mat-button routerLink="/admin/users">{{ "Administrator" | translate }}</button>

      <!-- Listings Menu -->
      <button *ngIf="isLoggedIn()" mat-button [matMenuTriggerFor]="listingsMenu">{{ "listings" | translate }}</button>
      <mat-menu #listingsMenu="matMenu">
        <button mat-menu-item routerLink="/all">{{ "allListings" | translate }}</button>
        <button *ngIf="isProducer() || isAdministartor()" mat-menu-item routerLink="/user/listings">{{ "myListings" | translate }}</button>
        <button *ngIf="isConsumer() || isAdministartor()" mat-menu-item routerLink="/user/favourites">{{ "favourites" | translate }}</button>
        <button mat-menu-item routerLink="/trending">{{ "trending" | translate }}</button>
      </mat-menu>

      <!-- Notifications -->
      <button *ngIf="isLoggedIn()" mat-button routerLink="/user/notifications">{{ "notifications" | translate }}</button>

      <!-- User Menu -->
      <button *ngIf="isLoggedIn()" mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink='/user/'>{{ "details" | translate }}</button>
        <button mat-menu-item routerLink='/user/edit'>{{ "edit" | translate }}</button>
        <button mat-menu-item (click)="logoutUser()">{{ "logout" | translate }}</button>
      </mat-menu>

      <!-- Register and Login for non-logged in users -->
      <button *ngIf="!isLoggedIn()" mat-button routerLink="/register">{{ "register" | translate }}</button>
      <button *ngIf="!isLoggedIn()" mat-button routerLink="/login">{{ "login" | translate }}</button>
    </div>
  </mat-toolbar>
</nav>
