<div class="mat-elevation-z8 background">
  <span class="thesito-red error-field" [ngClass]="{ 'error-field': error }">{{ errorMessage | translate}}</span>
  <span class="thesito-green error-field" [ngClass]="{ 'error-field': info }">{{infoMessage | translate}}</span>

  <table mat-table [dataSource]="dataSource">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let user" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="makeUserAdmin(user.id)">{{'makeAdmin' |translate}}</button>
          <button mat-menu-item (click)="openUserListingsDialog(user.id)">{{'viewListingsOfUser' | translate}}</button>
        </mat-menu>
        {{user.id}}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let user" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="makeUserAdmin(user.id)">{{'makeAdmin' |translate}}</button>
          <button mat-menu-item (click)="openUserListingsDialog(user.id)">{{'viewListingsOfUser' | translate}}</button>
        </mat-menu>
        {{user.name}}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="makeUserAdmin(user.id)">{{'makeAdmin' |translate}}</button>
          <button mat-menu-item (click)="openUserListingsDialog(user.id)">{{'viewListingsOfUser' | translate}}</button>
        </mat-menu>
        {{user.email}}
      </td>
    </ng-container>

    <!-- UserType Column -->
    <ng-container matColumnDef="userType">
      <th mat-header-cell *matHeaderCellDef> UserType </th>
      <td mat-cell *matCellDef="let user" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="makeUserAdmin(user.id)">{{ 'makeAdmin' | translate }}</button>
          <button mat-menu-item (click)="openUserListingsDialog(user.id)">{{ 'viewListingsOfUser' | translate }}</button>
        </mat-menu>
        <div *ngFor="let type of user.userType">
          {{ type }}
          <mat-chip *ngIf="userIsCurrentUser(user)">{{ 'me' | translate }}</mat-chip>
        </div>

      </td>

    </ng-container>

    <!-- Qualification Column -->
    <ng-container matColumnDef="qualification">
      <th mat-header-cell *matHeaderCellDef> Qualification </th>
      <td mat-cell *matCellDef="let user" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="makeUserAdmin(user.id)">{{'makeAdmin' |translate}}</button>
          <button mat-menu-item (click)="openUserListingsDialog(user.id)">{{'viewListingsOfUser' | translate}}</button>
        </mat-menu>
        {{user.qualification}}
      </td>
    </ng-container>

    <!-- Receive Emails Column -->
    <ng-container matColumnDef="receiveEmails">
      <th mat-header-cell *matHeaderCellDef> Receive Emails </th>
      <td mat-cell *matCellDef="let user" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="makeUserAdmin(user.id)">{{'makeAdmin' |translate}}</button>
          <button mat-menu-item (click)="openUserListingsDialog(user.id)">{{'viewListingsOfUser' | translate}}</button>
        </mat-menu>
        {{user.receiveEmails ? 'Yes' : 'No'}}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let user">
        <mat-icon (click)="editUser(user.id)">edit</mat-icon>
        <mat-icon (click)="deleteUser(user)">delete</mat-icon>
      </td>
    </ng-container>

    <ng-container *ngIf="isStandalone">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </ng-container>

    <ng-container *ngIf="!isStandalone">
      <tr mat-header-row *matHeaderRowDef="displayedColumnsNonStandalone"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsNonStandalone;"></tr>
    </ng-container>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"
                 showFirstLastButtons
                 aria-label="Select page of users">
  </mat-paginator>
</div>
