.create-listing-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form-container {
  width: 100%;
  max-width: 800px; /* Adjust based on your layout */
  padding: 20px;
  background-color: #F7F6F2;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.listing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listing-title {
  font-size: 24px;
}

.details-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #ccc; /* Creates a divider line on top */
  border-bottom: 1px solid #ccc; /* Creates a divider line on bottom */
}

.info-column {
  display: flex;
  flex-direction: column;
}

.info-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.info-value {
  font-size: 14px;
}

.info-heading {
  font-weight: bold;
}

.description-box {
  background-color: #fff; /* White background */
  border-radius: 8px; /* Rounded corners */
  padding: 15px; /* Padding inside the box */
  margin: 20px 0; /* Margin around the box */
}

.description-content {
  max-height: auto; /* Adjusts height based on content */
  overflow-y: auto; /* Allows scroll if content is too long */
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.apply-button {
  margin-left: auto; /* Pushes the button to the right */
}

.create-listing-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form-container {
  width: 100%;
  max-width: 800px; /* Adjust based on your layout */
}

.listing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listing-title {
  font-size: 24px;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the space between buttons */
}

.apply-button-container {
  display: flex;
  justify-content: flex-end; /* Aligns the Apply button to the right */
  padding: 10px 0; /* Spacing above and below the Apply button */
}

.listing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-and-favourite {
  display: flex;
  align-items: center;
}

.listing-title {
  font-size: 24px;
  margin-right: 8px; /* Adjust as needed */
}

/* Ensure app-user-favourites is styled to be inline, e.g., */
app-user-favourites {
  display: inline-block;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the space between buttons */
}
