<div class="create-listing-container">
  <mat-card class="form-container">
    <div class="listing-header">
      <div class="title-and-favourite">
        <mat-card-title class="listing-title">
          {{ listing.title }}
        </mat-card-title>
        <app-user-favourites [listing_id]="listing.id"></app-user-favourites>
      </div>
      <div class="action-buttons">
        <button mat-icon-button *ngIf="ownership" (click)="editListing()" aria-label="Edit listing">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="ownership" (click)="onDeleteButtonClick(listing)" aria-label="Delete listing">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <mat-chip-set class="custom-chip-list" *ngIf="currentLanguage==='en'">
      <mat-chip *ngFor="let tag of listing.tags" selected>
        {{ tag.title_en }}
      </mat-chip>
    </mat-chip-set>

    <mat-chip-set class="custom-chip-list" *ngIf="currentLanguage==='de'">
      <mat-chip *ngFor="let tag of listing.tags" selected>
        {{ tag.title_de }}
      </mat-chip>
    </mat-chip-set>
    <mat-divider></mat-divider> <!-- Divider above the section -->

    <div class="details-grid">
      <div class="info-column">
        <span class="info-label"><b>{{"createdAt" | translate}}</b></span>
        <span class="info-value">{{ listing.createdAt | date: 'longDate' }}</span>
      </div>
      <div class="info-column">
        <span class="info-label"><b>{{"supervisor" | translate}}</b></span>
        <span class="info-value">{{ owner }}</span>
      </div>
      <div class="info-column">
        <span class="info-label"><b>{{"preconditions" | translate}}</b></span>
        <span class="info-value">{{ listing.requirement }}</span>
      </div>
      <div class="info-column">
        <span class="info-label"><b>{{"affiliation" | translate}}</b></span>
        <span class="info-value">{{ listing.company || listing.university }}</span>
      </div>
    </div>

    <mat-divider></mat-divider> <!-- Divider below the section -->


    <div class="description-box">
      <h3>{{"description" | translate}}</h3>
      <div class="description-content">
        <p>{{ listing.details }}</p>
      </div>
    </div>

    <span class="thesito-red error-field" [ngClass]="{ 'error-field': error }">{{errorMessage}}</span>
    <span class="thesito-green error-field" [ngClass]="{ 'error-field': success }">{{successMessage}}</span>


    <div class="apply-button-container" *ngIf="canApply && !ownership">
      <button mat-raised-button color="primary" (click)="openApplicationDialog()">
        {{"apply" | translate}}
      </button>
    </div>
  </mat-card>
</div>
