/* Add these styles to your component's styles section */

.password-change-dialog {
  background-color: #F7F6F2;
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  margin: auto;
}

.btn-green {
  background-color: #5AB779;
  color: #F7F6F2;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-green:hover {
  background-color: #1A1A1D;
}

.btn-red {
  background-color: #DA3E52;
  color: #F7F6F2;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-padding {
  padding: 20px; /* Adjust the value as needed */
}

.btn-red:hover {
  background-color: #1A1A1D;
}

.error-message {
  color: #DA3E52;
  margin-top: 5px;
}

/* Add this to your global styles or the component's CSS file */

body {
  overflow: hidden; /* Prevent scrollbar */
}

.password-change-dialog {
  width: 300px; /* Adjust the width as needed */
  margin: auto; /* Center the content */
  overflow-y: auto; /* Enable scrollbar within the dialog if needed */
}

