<!-- password-change-dialog.component.html -->
<div class="password-change-dialog">
  <h2>Password Change</h2>
  <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">
    <!-- Old Password input -->
    <div class="row mb-3 custom-padding">
      <div class="col-md-4">
        <label for="oldPassword">Old Password:</label>
      </div>
      <div class="col-md-8">
        <input type="password" id="oldPassword" formControlName="oldPassword" />
      </div>
    </div>

    <!-- New Password input -->
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="newPassword">New Password:</label>
      </div>
      <div class="col-md-8">
        <input type="password" id="newPassword" formControlName="newPassword" />
      </div>
    </div>

    <!-- Confirm New Password input -->
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="confirmNewPassword">Confirm New Password:</label>
      </div>
      <div class="col-md-8">
        <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword" />
        <div class="error-message" *ngIf="passwordChangeForm.errors?.['mismatch']">
          Passwords don't match.
        </div>
      </div>
    </div>

    <!-- Confirm and Cancel buttons using Angular Material -->
    <div class="row mb-3">
      <div class="col-md-6">
        <button mat-raised-button color="primary" type="submit" [disabled]="!passwordChangeForm.valid">Confirm</button>
      </div>
      <div class="col-md-6">
        <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
