@import 'material-icons/iconfont/material-icons.css';

.background {
  background-color: #EAE7DC;
}

.thesito-blue {
  color: #93B7BE;
}

.thesito-red {
  color: #DA3E52;
}

.thesito-background-warm {
  color: #EAE7DC;
}

.thesito-beige-warm {
  color: #F7F6F2;
}
