<div class="background">

  <div class="container">
    <h2>{{ "trendingTopics" | translate }}</h2>
  </div>

  <!-- Trending topics -->
  <!-- display trending tags (as bubbles or something) -->
  <div class="row mb-3" *ngIf="currentLanguage==='en'">
    <!-- Angular Material Form Field for Tags -->
    <mat-chip-listbox>
      <mat-chip *ngFor="let tag of trendingTopics | async" class="custom-chip">
        <mat-icon>label</mat-icon>
        {{ tag.title_en }}
      </mat-chip>
    </mat-chip-listbox>
  </div>
  <div class="row mb-3" *ngIf="currentLanguage==='de'">
    <!-- Angular Material Form Field for Tags -->
    <mat-chip-listbox>
      <mat-chip *ngFor="let tag of trendingTopics | async" class="custom-chip">
        <mat-icon>label</mat-icon>
        {{ tag.title_de }}
      </mat-chip>
    </mat-chip-listbox>
  </div>


  <!-- Listings of trending topics -->
  <div class="container results-container">

    <!-- university/company filter -->
    <!-- TODO add toggle to show/hide filter -->
    <div class="col-4 input-flex justify-content-center align-items-center">
      <mat-chip-listbox #institutionTypeListbox (change)="onInstitutionTypeChange($event)">
        <mat-chip-option class="example-width"  value="university">{{ 'university' | translate }}</mat-chip-option>
        <mat-chip-option class="example-width"  value="company">{{ 'company' | translate }}</mat-chip-option>
      </mat-chip-listbox>

      <!-- Show input field depending on selected institutionType -->
      <div *ngIf="institutionType === 'university'">
        <mat-form-field class="example-full-width">
          <mat-label>{{ 'chooseUniversity' | translate }}</mat-label>
          <input matInput [(ngModel)]="searchUniversity" [matAutocomplete]="auto">
          <mat-autocomplete (optionSelected)="onUniversitySelect($event)" #auto="matAutocomplete">
            <mat-option *ngFor="let university of allUniversities | async" [value]="university">
              {{ university }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div *ngIf="institutionType === 'company'">
        <mat-form-field class="example-full-width">
          <mat-label>{{ 'companyName' | translate }}</mat-label>
          <input matInput [(ngModel)]="searchCompany" [matAutocomplete]="auto">
          <mat-autocomplete (optionSelected)="onCompanySelect($event)" #auto="matAutocomplete">
            <mat-option *ngFor="let company of allCompanies | async" [value]="company">
              {{ company }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

    </div>

    <!-- listings -->
    <div class="row listing equal-height" *ngFor="let listing of trendingListings" (click)="goToListing(listing.id)"
         style="cursor: pointer">
      <div class="col col-md-1 d-flex align-items-center justify-content-center">
        <i class="bi bi-star"></i>
        <mat-icon>star_border</mat-icon>
      </div>
      <div class="col col-md-9 d-flex align-items-center justify-content-center">
        <h3 class="my-auto text-center">{{ listing.title }}</h3>
      </div>
      <div class="col col-md-2 d-flex align-items-center justify-content-center">
        <div class="row-fluid">
          <div><h4 class="my-auto text-center">{{ listing.requirement.toString() | translate }}</h4></div>
          <div><h5 class="my-auto text-center">{{ listing.createdAt | date }}</h5></div>
        </div>
      </div>
    </div>
    <!-- Pagination Controls -->
    <div class="pagination-container d-flex justify-content-center">

      <button (click)="loadPage(1)"
              [disabled]="currentPage === (1)">{{ 'first' | translate }}
      </button>

      <!-- Previous and Next Buttons -->
      <button (click)="loadPage(currentPage - 1)"
              [disabled]="currentPage === 1">{{ 'previous' | translate }}
      </button>
      <span *ngIf="totalPages > 0; else noResultsSpan" class="pagination-text">Page {{ currentPage }}
        of {{ totalPages }}</span>
      <ng-template #noResultsSpan><span class="pagination-text">No Results</span></ng-template>
      <button (click)="loadPage(currentPage + 1)"
              [disabled]="currentPage === totalPages || totalPages === 0">{{ 'next' | translate }}
      </button>

      <button (click)="loadPage(this.totalPages)"
              [disabled]="currentPage === (this.totalPages) || totalPages === 0">{{ 'last' | translate }}
      </button>
    </div>
  </div>
</div>
