*:not(mat-icon) {
  font-family: Montserrat, sans-serif;
}

/* General Styles */
.background {
  background-color: #EAE7DC;
  font-family: 'Arial', sans-serif;
  color: #333;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.break {
  flex-basis: 100%;
  height: 0;
}

/* Header Styles */
h2 {
  color: #007bff;
  text-align: center;
  margin-bottom: 20px;
}

/* Search and Form Styles */
.simple-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: #e9ecef;
  padding: 10px;
  border-radius: 5px;
}

.simple-search-container input[type="text"],
.simple-search-container input[type="date"],
.simple-search-container select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  /*margin-right: 10px;*/
  flex-grow: 1;
}

.simple-search-container input[type="date"] {
  border: 2px solid #007bff;
  background-color: #f8f9fa;
}

/* Toggle Styles */
.toggle-container {
  display: inline-block;
  position: relative;
  padding-left: 25px; /* Adjusted for smaller toggle */
  margin-bottom: 0;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.toggle-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 40px;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px; /* Rounded edges for slider */
  height: 20px; /* Smaller height for slider */
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px; /* Smaller knob */
  width: 16px; /* Smaller knob */
  left: 2px; /* Adjusted position */
  bottom: 2px; /* Adjusted position */
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.tags-container {
  /*flex-basis: 100%;*/
}

input:checked + .toggle-slider {
  background-color: #007bff;
}

input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

/* Button Styles */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: default;
}

/* Listing Styles */
.listing {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.listing:hover {
  transform: scale(1.03); /* Slightly scale up on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Deeper shadow for "pop up" effect */
}

.listing h3, .listing h4, .listing h5 {
  margin: 0;
}

/* Pagination Styles */
.pagination-container {
  text-align: center;
  margin-top: 20px;
}

.pagination-text {
  margin: auto 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .simple-search-container, .input-flex {
    flex-direction: column;
    align-items: stretch;
  }

  .simple-search-container input, .simple-search-container select {
    margin-bottom: 10px;
  }
}

.advanced-search-toggle {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the toggle and label */
  margin-bottom: 15px;
}

.listing.equal-height {
  height: 80px; /* Example height, adjust as needed */
}

.simple-search-container .input-flex {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  flex-wrap: wrap; /* Allows items to wrap to the next line on smaller screens */
  gap: 10px; /* Adds space between items */
  font-weight: bold;
}

.simple-search-container .input-flex label,
.simple-search-container .input-flex .date-input,
.simple-search-container .input-flex select {
  margin: 5px; /* Adjust as needed */
  min-width: 120px; /* Adjust as needed for better control over item widths */
}

mat-chip.selected-chip {
  background-color: #007bff;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.subtitle-button{
  font-size: 18px;
  background-color: #e0e0e0;
  color: #333;
}
.subtitle-button.selected{
  background-color: #007bff;
}

.zoom-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
  cursor: pointer; /* Changes cursor to a pointer on hover */
}

.zoom-card:hover {
  transform: scale(1.05); /* Scales up the card slightly */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow to lift the card */
  z-index: 10; /* Ensure the card is above other elements */
}

.card {
  background-color: #f9f9f9; /* Light gray background for individual cards */
  border-radius: 4px; /* Slightly rounded corners for the cards */
  box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Subtle box shadow for depth */
  padding: 6px; /* Padding inside individual cards */
  margin-bottom: 10px; /* Margin between cards */
  cursor: pointer;
  width: 100%;
}

.button-container {
  text-align: right; /* Aligns the button to the right */
  margin-top: 10px; /* Adds some space above the button */
}

/* Style for the button itself */
.button-container button {
  padding: 5px 10px; /* Reduces padding to make the button smaller */
  font-size: 0.8rem; /* Smaller font size */
  background-color: #007bff; /* Background color */
  color: white; /* Text color */
  border: none; /* Removes border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Changes cursor to pointer on hover */
}

.button-container button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
