/* detail.component.css */
.create-listing-container {
  background-color: #EAE7DC;
  height: 100vh;
}

.form-container {
  background-color: #F7F6F2;
  border-radius: 15px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  padding: 15px;
  margin: 20px auto;
  width: 95%;
  max-width: 600px;
}

.listing-title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  padding-bottom: 20px;
  text-align: center;
}

.static-info {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10px;
}

.apply-button {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
  background-color: #1A1A1D;
  color: #F7F6F2;
  cursor: pointer;
}
