<!-- detail.component.html -->
<div class="create-listing-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5">
        <div class="card form-container">
          <div class="card-body">

            <h2 class="unselectable eerie listing-title">{{ 'listingDetails' | translate }}</h2>

            <!-- Static information display -->
            <div class="row mb-3 justify-content-between">
              <div class="col-md-12">
                <label class="form-label">{{ 'title' | translate }}</label>
                <div class="static-info">{{ listing.title }}</div>
              </div>
            </div>

            <div class="row mb-3 justify-content-between">
              <div class="col-md-12">
                <label class="form-label">{{ 'description' | translate }}</label>
                <div class="static-info">{{ listing.details }}</div>
              </div>
            </div>

            <div class="row mb-3 justify-content-between">
              <div class="col-md-12">
                <label class="form-label">{{ 'tags' | translate }}</label>
                <ul class="tag-list">
                  <li *ngFor="let tag of listing.tags" class="tag">{{ tag.title_en }}</li>
                </ul>
              </div>
            </div>

            <!--<div class="row mb-3 justify-content-between">
              <div class="col-md-12">
                <label class="form-label">{{ 'supervisor' | translate }}</label>
                <div class="static-info">Supervisor: {{ listing.owner.name }}</div>
              </div>
            </div>-->

            <div class="row mb-3">
              <div class="col-md-12">
                <label class="form-label">{{ 'preconditions' | translate }}</label>
                <div class="static-info">{{ listing.requirement | translate }}</div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12">
                <label class="form-label">{{ 'affiliation' | translate }}</label>
                <div class="static-info">{{ listing.company || listing.university }}</div>
              </div>
            </div>

            <!-- Apply button -->
            <button class="apply-button" (click)="openApplicationDialog()">
              {{ 'apply' | translate }}
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
