
*:not(mat-icon) {
  font-family: Montserrat, sans-serif;
}

.background {
  background-color: #EAE7DC;
  height: 100vh;
}

.error-field {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.thesito-blue {
  color: #93B7BE;
}

.thesito-red {
  color: #DA3E52;
}

.thesito-background-warm {
  color: #EAE7DC;
}

.thesito-beige-warm {
  color: #F7F6F2;
}

.user-details-container{
  background-color: #EAE7DC;
  height: 100vh;
}

.card {
  margin-top: 5px;
  border-radius: 10px;
  min-width: 600px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px inset;
  background-color: #93B7BE;
}

.h1{
  font-size: 22px;
  margin-bottom: -5px;
}


.info-wrapper{
  margin-top: 20px;
  margin-bottom: 20px;
}


.save-button{
  display: flex;
  justify-content: right;
}

.btn-primary {
  background-color: #5AB779;
  color: #F7F6F2;
}

.btn-primary:hover {
  background-color: #131314;
}

.btn-primary2 {
  background-color: cornflowerblue;
  color: #F7F6F2;
}

.btn-primary2:hover {
  background-color: #131314;
}

.example-chip-list {
  width: 100%;
}

.interests-wrapper{
}

.card-align{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-title{
  align-self: start;
}

.center-card{
  display: flex;
  justify-content: center;
}

.listing-card-body{
  display: flex;
  align-items: center;
  //justify-content: center;
}

.listing-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F7F6F2;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.listing-title{
  font-weight: bold;
  flex: 1;
  text-align: center;
}

.controls{
  flex: 1;
  text-align: right;
}

.creation-date{
  flex: 1;
  text-align: left;
}

