<div *ngIf="isStandalone" class="user-details-container background">
  <div class="container">
    <div class="center-card">
      <div class="col-md-6 mt-5 card-align">
        <div>
          <h3 class="card-title h1">{{ 'myListings' | translate }}</h3>
          <div class="card">
            <div class="card-body">
              <span class="thesito-red error-field" [ngClass]="{ 'error-field': error }">{{ errorMessage | translate}}</span>
              <span class="thesito-green error-field" [ngClass]="{ 'error-field': info }">{{infoMessage | translate}}</span>
              <button *ngIf="isLoggedIn() && (isProducer() || isAdministartor())" class="btn btn-primary create-listing-btn" (click)="goToCreateListing()">
                {{ 'createListing' | translate }}
              </button>
              <div *ngIf="listings" >
                <div *ngFor="let listing of listings">
                  <div class="card listing-container btn" (click)="goToListingDetailPage(listing.id)">
                    <div class="listing-card-body">
                      <div class="creation-date">{{listing.createdAt | date }}</div>
                      <div class="listing-title">{{listing.title}}</div>
                      <div class="controls">

                        <mat-slide-toggle [color]="'primary'" class="toggle-slider" [checked]="listing.active"  (change)="toggleListingStatus(listing)" (click)="$event.stopPropagation()"></mat-slide-toggle>
                          <a [routerLink]="['/listing/edit/', listing.id]" class="edit-button" role="button" data-toggle="tooltip" data-placement="bottom">
                            <mat-icon>edit</mat-icon>
                          </a>
                        <a class="delete-button" role="button" (click)="$event.stopPropagation(); onDeleteButtonClick(listing)" data-toggle="tooltip" data-placement="bottom">
                          <mat-icon>delete</mat-icon>
                        </a>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isStandalone">
  <!-- Compact view for homepage -->
  <button *ngIf="isLoggedIn() && (isProducer() || isAdministartor())" class="btn btn-primary create-listing-btn" (click)="goToCreateListing()">
    {{ 'createListing' | translate }}
  </button>
  <div *ngFor="let listing of listings | slice:0:3" class="compact-listing-card">
    <!-- Compact card content -->
    <div class="listing-title">{{listing.title}}</div>
    <div class="controls">
      <a [routerLink]="['/listing/edit/', listing.id]" class="edit-button" role="button" data-toggle="tooltip" data-placement="bottom">
        <mat-icon>edit</mat-icon>
      </a>
      <mat-slide-toggle [color]="'primary'" class="toggle-slider" [checked]="listing.active"  (change)="toggleListingStatus(listing)" (click)="$event.stopPropagation()"></mat-slide-toggle>
    </div>
</div>
