.toggle-container {
  display: flex;
  justify-content: left; /* Aligns the toggle to the left */
  padding: 10px; /* Padding around the toggle */
  margin-bottom: 20px; /* Space below the toggle */
}

.role-selector {
  display: flex;
  justify-content: center; /* Centers the radio group */
  padding: 10px; /* Padding around the radio group */
  margin-bottom: 20px; /* Space below the radio group */
}

.role-radio-group {
  display: inline-flex;
  margin: 0 auto; /* Additional centering for the radio group */
}

.card {
  background-color: #f9f9f9; /* Light gray background for individual cards */
  border-radius: 4px; /* Slightly rounded corners for the cards */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Subtle box shadow for depth */
  padding: 6px; /* Padding inside individual cards */
  margin-bottom: 10px; /* Margin between cards */
  cursor: pointer;
  width: 100%;
}

mat-chip.selected-chip {
  background-color: #007bff;
}

.header {
  display: flex;
  justify-content: space-between; /* Aligns items to each end */
  align-items: center; /* Aligns items vertically */
}

.container {
  margin-top: 50px;
  display: flex;
  height: auto; /* Adjust height as needed */
  gap: 20px; /* This creates space between the flex items */
}

.notification-header {
  display: flex;
  justify-content: space-between; /* Aligns children to each end */
  align-items: center;
}

.date-text {
  font-size: 0.8rem; /* Smaller font size */
  color: grey; /* Grey color */
  margin-top: -20px; /* Adjust as needed to align properly */
}

.icon-with-text {
  display: flex;
  align-items: center; /* Centers the icon vertically with the text */
}

mat-icon {
  margin-right: 8px; /* Adds some space between the icon and the text */
}

.left-section, .top-right-section, .bottom-right-section {
  background-color: white; /* Card background color */
  border-radius: 8px; /* Rounded corners for the card effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Simple box shadow for depth */
  padding: 20px; /* Padding inside the cards */
  margin: 10px; /* Margin around the cards */
  cursor: default;
}

.left-section {
  flex-grow: 2;
  width: calc(90% - 10px); /* Adjust width ratio as needed, accounting for the gap */
  position: relative; /* Add relative positioning to the parent */
  height: 100%
}

.right-section {
  flex-grow: 1;
  width: calc(50% - 20px); /* Adjust width ratio as needed, accounting for the gap */
  flex-direction: column;
  gap: 20px; /* This creates space between the stacked items */
}

.top-right-section, .bottom-right-section {
  flex: 1;
}

/* Style for the button container */
.button-container {
  text-align: right; /* Aligns the button to the right */
  margin-top: 10px; /* Adds some space above the button */
}

/* Style for the button itself */
.button-container button {
  padding: 5px 10px; /* Reduces padding to make the button smaller */
  font-size: 0.8rem; /* Smaller font size */
  background-color: #007bff; /* Background color */
  color: white; /* Text color */
  border: none; /* Removes border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Changes cursor to pointer on hover */
}

.button-container button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.down-arrow {
  cursor: pointer;
  color: black; /* or any color you want */
  align-self: center;
  position: absolute; /* Absolute position for the arrow */
  bottom: 10px; /* Position it 10px from the bottom */
  left: 50%; /* Center horizontally */
}

.create-listing-btn {
  margin-bottom: 3%;
}

.create-listing-btn:hover {
  background-color: #1F3393;
}

.down-arrow:hover {
  transform: scale(1.2); /* Scales up the card slightly */
  z-index: 30; /* Ensure the card is above other elements */
}

.notification-count {
  background-color: red;
  color: white;
  border-radius: 50%; /* Makes the shape a circle */
  padding: 0 6px; /* Adjust as needed for size */
  font-size: 0.8rem; /* Adjust font size as needed */
  display: inline-block;
  min-width: 20px; /* Ensures the circle size even if the number is small */
  text-align: center;
  line-height: 20px; /* Adjust for vertical alignment */
  margin-left: 10px; /* Space between the heading and the circle */
}

.favourite-item {
  display: flex; /* Use flexbox for horizontal alignment */
  align-items: center; /* Center-align the items vertically */
  margin-bottom: 5px; /* Space between items */
}

.favourite-title {
  margin-left: 10px; /* Space between the star and the title */
}

.favourite-item mat-icon {
  margin-right: 8px; /* Adds some space between the icon and the text */
}

.zoom-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
  cursor: pointer; /* Changes cursor to a pointer on hover */
}

.zoom-card:hover {
  transform: scale(1.05); /* Scales up the card slightly */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow to lift the card */
  z-index: 10; /* Ensure the card is above other elements */
}

.see-all-link {
  text-align: right; /* Align the link to the right */
  margin-top: 10px; /* Add some space above the link */
  font-size: 0.9rem; /* Slightly larger font size for the link */
  color: #000000; /* Color for the link */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.see-all-link:hover {
  text-decoration: underline; /* Underline on hover for better indication */
}
