.card{
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

.notification-container{
  display: flex;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.notification-container:hover{
  transform: scale(1.01); /* Slightly scale up on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Deeper shadow for "pop up" effect */
}

.notification-box{
  display: flex;
  justify-content: center;
}
