<div *ngIf="authService.isConsumer()" class="container">
  <div class="left-section card">
    <h2 class="clickable" (click)="this.router.navigate(['/trending'])">{{ 'trending' | translate }}</h2>
    <app-trending [isStandalone]="false"></app-trending>
  </div>

  <div class="right-section">
    <div *ngIf="notificationsLoaded" class="top-right-section card">
      <h2 class="clickable" (click)="this.router.navigate(['/user/notifications'])">{{ 'inbox' | translate }} <span class="notification-count">{{ notifications.length }}</span></h2>

      <div *ngFor="let notification of notifications | slice:0:3" class="card zoom-card" (click)="this.router.navigate(['/listing', notification.connectedListing.id])">
        <div class="notification-header">
          <div class="icon-with-text">
            <mat-icon>email</mat-icon>
            <span *ngIf="notification.notificationType === 'Application'">{{ 'newApplicationForListing' | translate }} {{ notification.connectedListing.title }}</span>
            <span *ngIf="notification.notificationType === 'InterestedTopic'">{{ 'newMatchingListing' | translate }} {{ notification.connectedListing.title }}</span>
          </div>
          <span class="date-text">{{ formatDate(notification.createdAt) }}</span>
        </div>
      </div>
      <div *ngIf="notifications.length===0">
        <h4>{{"noNotifications" | translate}}</h4>
      </div>
      <div *ngIf="notifications.length > 3" class="see-all-link">
        <span (click)="this.router.navigate(['/user/notifications'])">{{ 'seeAll' | translate }}</span>
      </div>
    </div>

    <div *ngIf="favoritesLoaded" class="bottom-right-section card">
      <h2 class="clickable" (click)="this.router.navigate(['/user/favourites'])">{{ 'favourites' | translate }}</h2>
      <div *ngFor="let favourite of favourites | slice:0:3" class="favourite-item">
        <mat-icon>star</mat-icon> <!-- Star icon -->
        <span class="card zoom-card" (click)="this.router.navigate(['/listing', favourite.id])">{{ favourite.title }}</span>
      </div>
      <div *ngIf="favourites.length > 3" class="see-all-link">
        <span (click)="this.router.navigate(['/user/favourites'])">{{ 'seeAll' | translate }}</span>
      </div>
    </div>

  </div>
</div>


<div *ngIf="authService.isProducer()" class="container">
  <div class="left-section card">
    <div class="header">
      <h2 class="clickable" (click)="this.router.navigate(['/user/listings'])">{{ 'myListings' | translate }}</h2>
      <mat-chip highlighted *ngIf="authService.isLoggedIn() && (authService.isProducer() || authService.isAdministrator())" class="create-listing-btn" (click)="goToCreateListing()">
      {{ 'createListing' | translate}} +
      </mat-chip>
    </div>

    <app-my-listings [isStandalone]="false"></app-my-listings>
  </div>


  <div class="right-section">
    <div *ngIf="notificationsLoaded" class="top-right-section card">
      <h2 class="clickable" (click)="this.router.navigate(['/user/notifications'])">{{ 'inbox' | translate }} <span class="notification-count">{{ notifications.length }}</span></h2>

      <div *ngFor="let notification of notifications | slice:0:3" class="card zoom-card" (click)="this.router.navigate(['/listing', notification.connectedListing.id])">
        <div class="notification-header">
          <div class="icon-with-text">
            <mat-icon>email</mat-icon>
            <span *ngIf="notification.notificationType === 'Application'">{{ 'newApplicationForListing' | translate }} {{ notification.connectedListing.title }}</span>
            <span *ngIf="notification.notificationType === 'InterestedTopic'">{{ 'newMatchingListing' | translate }} {{ notification.connectedListing.title }}</span>
          </div>
          <span class="date-text">{{ formatDate(notification.createdAt) }}</span>
        </div>
      </div>
      <div *ngIf="notifications.length===0">
        <h4>{{"noNotifications" | translate}}</h4>
      </div>
      <div *ngIf="notifications.length > 3" class="see-all-link">
        <span (click)="this.router.navigate(['/user/notifications'])">{{ 'seeAll' | translate }}</span>
      </div>
    </div>

  </div>
</div>

<div *ngIf="authService.isAdministrator()" class="container">
  <div class="left-section">
    <h2>{{ 'manageUsers' | translate }} <span (click)="this.router.navigate(['/admin/users'])" class="clickable material-symbols-outlined">link</span></h2>
    <app-admin-page [isStandalone]="false"></app-admin-page>
  </div>
</div>
