<div class="edit-user-container">
  <div class="container">
    <div class="row">
      <div class="col-md-7 offset-md-3 mt-5">
        <h3 class="card-title h1">{{ 'editUser' | translate }}</h3>
        <div class="card">
          <div class="card-body">

            <form [formGroup]="userForm" (ngSubmit)="submitForm()">
              <!-- Name input -->
              <div class="row mb-3">
                <div class="col-md-4">
                  <label for="name" class="form-label">{{ 'name' | translate }}</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="name" formControlName="name">
                </div>
              </div>

              <!-- Email input -->
              <div class="row mb-3">
                <div class="col-md-4">
                  <label for="email" class="form-label">{{ 'email' | translate }}</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="email" formControlName="email">
                </div>
              </div>

              <!-- Receive Emails input with mat-slide-toggle -->
              <div class="row mb-3">
                <div class="col-md-4">
                  <label class="form-label">{{ 'receiveEmails' | translate }}</label>
                </div>
                <div class="col-md-8">
                  <mat-slide-toggle [color]="'primary'" [checked]="user?.receiveEmails" (change)="toggleReceiveEmails()"></mat-slide-toggle>
                </div>
              </div>
              <div *ngIf="dataLoaded">
                <div class="form-group checkboxes">
                  <mat-checkbox color = "primary" formControlName="isConsumer" [checked]="isConsumerUser" (change)="toggleConsumer()">
                    {{ "consumerInfo" | translate }}
                  </mat-checkbox>
                </div>
                <div class="form-group checkboxes">
                  <mat-checkbox color = "primary" formControlName="isProvider" [checked]="isProviderUser" (change)="toggleProvider()">
                    {{ "providerInfo" | translate }}
                  </mat-checkbox>
                </div>
              </div>

              <div *ngIf="dataLoaded && isConsumer()">
                {{ "completedAcademicCareer" | translate }}
                <div class="form-group radios">
                  <mat-radio-group id="qualification" formControlName="qualification">
                    <mat-radio-button color="primary" *ngIf="user?.qualification !== undefined" [checked]="true" [value]="QualificationType.None">{{ 'qualificationNone' | translate }}</mat-radio-button>
                    <mat-radio-button color="primary" *ngIf="user?.qualification === undefined" [value]="QualificationType.None">{{ 'qualificationNone' | translate }}</mat-radio-button>
                    <mat-radio-button color="primary" [value]="QualificationType.Bachelors">{{ 'bachelors' | translate }}</mat-radio-button>
                    <mat-radio-button color="primary" [value]="QualificationType.Masters">{{ 'masters' | translate }}</mat-radio-button>
                    <mat-radio-button color="primary" [value]="QualificationType.PhD">{{ 'phd' | translate }}</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <app-tag *ngIf="tagsLoaded && isConsumer()" [title]="'chooseInterests'" [selectedTagsFromParent]="selectedTags" (updateTag)="addTagToUser($event)"></app-tag>


              <!-- Change Password button and Save button -->
              <div class="row mb-3">
                <div class="col-md-8">
                  <button type="button" class="btn btn-danger mr-2" (click)="onDeleteButtonClick()">
                    {{ 'deleteAccount' | translate }}
                  </button>
                  <button type="button" class="btn btn-blue" (click)="openPasswordChangeDialog()">
                    {{ 'changePassword' | translate }}
                  </button>
                </div>
                <div class="col-md-4 text-end mt-auto">
                  <button type="button" class="btn btn-primary" (click)="openUserTypeConfirmationDialog()" [disabled]="userForm.invalid">
                    {{ 'save' | translate }}
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
