.btn-blue {
  background-color: #3250A8;
  color: #F7F6F2;
}

.btn-blue:hover {
  background-color: #1A1A1D;
}

.listing-title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  padding-bottom: 20px;
  margin-left: 15px;
  margin-top: 15px;
  text-align: center;
}

.form-label {
  font-weight: bold;
}

.form-container {
  border-radius: 15px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  margin: auto;
  width: 95%;
  max-width: 600px;
}

.listing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  background-color: #5AB779;
  color: #F7F6F2;
}

.btn-primary:hover {
  background-color: #131314;
}

.error-field {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
}
