<div class="user-details-container">
  <div class="center-card">
    <mat-card class="form-container">
      <div class="listing-header">
        <div class="title-and-favourite">
          <mat-card-title class="unselectable listing-title">
            {{ "yourProfile" | translate }}
          </mat-card-title>
        </div>
        <div class="action-buttons">
          <button mat-icon-button (click)="goToEditProfile()" aria-label="Edit profile">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>

      <div class="details-grid">
        <div class="info-column">
          <span class="info-label"><b>{{ 'name' | translate }}</b></span>
          <span class="info-value">{{ user.name }}</span>
        </div>
        <div class="info-column">
          <span class="info-label"><b>{{ 'email' | translate }}</b></span>
          <span class="info-value">{{ user.email }}</span>
        </div>

        <div class="info-column">
          <span class="info-label"><b>{{ 'role' | translate }}</b></span>
          <span class="info-value" *ngFor="let type of user.userType">{{ type | translate }}</span>
        </div>

        <div *ngIf="isConsumer()" class="info-column">
          <span class="info-label"><b>{{ 'qualification' | translate }}</b></span>
          <span class="info-value">{{ user.qualification }}</span>
        </div>


      </div>
      <div class="details-grid-tags">
        <div *ngIf="isConsumer()" >
          <span class="info-label"><b>{{ 'tags' | translate }}</b></span>
          <mat-chip-set class="custom-chip-list" *ngIf="getLanguage()==='en'">
            <mat-chip *ngFor="let tag of user.userTags" [ngClass]="{'long-chip': tag.title_en.length > 20}">
              {{ tag.title_en }}
            </mat-chip>
          </mat-chip-set>

          <mat-chip-set class="custom-chip-list" *ngIf="getLanguage()==='de'">
            <mat-chip *ngFor="let tag of user.userTags" [ngClass]="{'long-chip': tag.title_de.length > 20}">
              {{ tag.title_de }}
            </mat-chip>
          </mat-chip-set>
        </div>
      </div>


    </mat-card>
  </div>
</div>
