.background {
  //position: absolute;
  background-color: #EAE7DC;
  height: 100vh;
  width: 100vw;
}

* {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 16em;
}

h3 {
  font-size: 4em;
  padding-top: 5%;
}

p{
  padding-top: 2%;
}

.wrapper {
  margin-top: 8em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

.back-button {
  font-weight: 500;
  opacity: 80%;

}

.back-button:hover {
  opacity: 100%;
}
