.btn-primary {
  background-color: #5AB779;
  color: #F7F6F2;
}

.btn-primary:hover {
  background-color: #131314;
}

.create-listing-btn{
  display: flex;
  align-self: end;
  margin-bottom: 1%;
}

.card-body{
  display: flex;
  flex-direction: inherit;
  height: 70vh;
  overflow-y: auto;
}

.compact-listing-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.compact-listing-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.compact-listing-card .listing-title {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.compact-listing-card .listing-info {
  font-size: 14px;
  color: #666;
}

.compact-listing-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.edit-button{
  color: black;
  padding-top: 5px;
  padding-right: 5px;
}

.controls{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
